<!-- Buttons start here. Copy this ul to your document. -->
<div class="share-this">

	<h3>Please share this site.</h3>
	<ul class="social-icons">
		
		<li> 
			<a 
				class="social-share-popup" 
				href="https://twitter.com/intent/tweet?text=Ridiculously%20Responsive%20Social%20Sharing%20Buttons%20%20http%3A%2F%2Frrssb.ml%20%7C%20http%3A%2F%2Frrssb.ml%2Fmedia%2Frrssb-preview.png"
				{# OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" #}
			> 
				<i class="fa fa-twitter" aria-hidden="true"></i> 
			</a> 
		</li>
		
		<li> 
			<a 
				class="social-share-popup" 
				href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}">
				<i class="fa fa-facebook" aria-hidden="true"></i>
			</a> 
		</li>
		
		<li> 
			<a 
				class="social-share-popup" 
				href="http://tumblr.com/share/link?url={{post.link}}%2Flabs%2F{{site.name}}&amp;name={{site.name}}">
				<i class="fa fa-tumblr" aria-hidden="true"></i> 	
			</a> 
		</li>

		<li> 
			<a 
				class="social-share-popup" 
				href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{post.link}}&amp;title={{site.name}}&amp;summary={{site.description}}">
				<i class="fa fa-linkedin" aria-hidden="true"></i> 	
			</a> 
		</li>
		
		<li> 
			<a 
				class="social-share-popup" 
				href="http://www.reddit.com/submit?url=http://www.kurtnoble.com/labs/rrssb/&amp;title=Check%20out%20how%20ridiculously%20responsive%20these%20social%20buttons%20are&amp;text=Check%20out%20how%20ridiculously%20responsive%20these%20social%20buttons%20are">
				<i class="fa fa-reddit" aria-hidden="true"></i> 	
			</a> 
		</li>

		<li> 
			<a 
				class="social-share-popup" 
				href="https://plus.google.com/share?url=Check%20out%20how%20ridiculously%20responsive%20these%20social%20buttons%20are%20http://kurtnoble.com/labs/rrssb/index.html">
				<i class="fa fa-google-plus" aria-hidden="true"></i> 	
			</a> 
		</li>


		

		


		
		
	</ul>

</div>